@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
footer{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(255, 255, 255);    
}
.parting{

}
.logo2{
    &_img{
        height: 110px;
    }
}