@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
footer{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(50, 89, 173);    
}
.parting{
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: -4px -4px 0px rgb(23, 56, 202);
    background: repeating-linear-gradient(45deg, rgb(57, 80, 70), rgb(82, 201, 201) 1px, white 2px, white 3px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: 20px auto;
}
.logo2{
    &_img{
        height: 110px;
    }
}