@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@font-face {
    font-family: 'Icons';
    src: url('../../assets/icons/fontello-7ac6f4e4/font/fontello.woff2?37715948') format('woff2'),
         url('../../assets/icons/fontello-7ac6f4e4/font/fontello.woff?37715948') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "Icons";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
  }
  .icon-robot:before { content: '\e800'; }
  .icon-vk:before { content: '\e801'; }
  .icon-smartphone:before { content: '\e802'; }

  figure{
      margin: 0;
      display: inline-block;
  }

header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white, ;
    
}
.logo__img{
    height: 110px;
}

